
    <%- include("partials/header.ejs") %>
    <div class="container d-flex flex-column">

        <div class="container text_posted overflow-auto w-55">
            <% if (locals.textPosted) { %>

                <h1 class="sticky-top bg-white title"> Diário </h1>
                
                

                <% textPosted.forEach(text => { %>
                    <div class="container p-2 text_posted_container">
                        <p class="mb-0"> <%= text %> </p>
                    </div>
                <% }); %>
                
                <% } else { %>
                    <h1>Diário</h1>
        
                    <p class="subtitle">Como foi o seu dia? Escreva algo abaixo para começar. 🥰</p>

                    <% } %>
        </div>

        <div class="container row justify-content-center">
            <form action="/delete" method="POST">
                <button class="btn btn-outline-danger btn-limpar" type="submit">Limpar</button>
            </form>
        </div>
        
        <div class="container text-container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <form id="message-form" action="/submit" method="POST">  
                        <div class="d-flex space">
                            <textarea name="message" placeholder="Escrever..." id="message floatingTextarea" class="form-control text-area fs-6 pt-1 pb-0 border-secondary shadow-none"></textarea>
                            <button class="btn bg-dark text-bg-dark btn-outline-secondary btn-enviar">Enviar</button>
                        </div>
                    </form>
                 </div>
            </div>
        </div> 
    </div>
    <%- include("partials/footer.ejs") %>
    