h1 {
    text-align: center;
    font-family: serif;
    font-size: 4rem;
    margin-bottom: 10px;
}

 .text_posted {
    padding: 0 120px;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    color: gray;
    margin-bottom: 40px;
}

p {  
    color: rgb(59, 59, 59);
}

.btn-enviar {
    width: 100px;
    border-radius: 0px 8px 8px 0px;
}

.btn-limpar {
    position: absolute;
    top: 100px;
    right: 200px;
}

.text-area {
    border-radius: 8px 0px 0px 8px;
    box-decoration-break: unset;
}